# probably add NEXT_ID opcode instead of manually fill it despite it is predictable
[chain]
description = "Creates next task once when another completes. Removes calldata after call - called once"
params = ["task_id","next_task_title","own_id"]
instructions = "PUSH_U32 {{0}} PUSH_TASK_FIELD 1 T_GET_FIELD PUSH_STATUS 2 EQ IF PUSH_STRING {{1}} PUSH_STATUS 0 PUSH_CALLDATA [ ] T_CREATE PUSH_CALLDATA [ ] PUSH_U32 {{2}} PUSH_TASK_FIELD 2 T_SET_FIELD S_SAVE THEN END_CALL"

# self_id or next_id is needed again! + OR is much simplier than 2x if
[either]
description = "Set complete if either one or another task is completed + delete not completed task"
params = ["task_id_1","task_id_2","task_id_own"]
instructions = "PUSH_U32 {{0}} PUSH_TASK_FIELD 1 T_GET_FIELD PUSH_STATUS 2 EQ IF PUSH_STATUS 2 PUSH_U32 {{2}} PUSH_TASK_FIELD 1 T_SET_FIELD PUSH_U32 {{1}} T_DELETE PUSH_CALLDATA [ ] PUSH_U32 {{2}} PUSH_TASK_FIELD 2 T_SET_FIELD S_SAVE END_CALL THEN PUSH_U32 {{1}} PUSH_TASK_FIELD 1 T_GET_FIELD PUSH_STATUS 2 EQ IF PUSH_STATUS 2 PUSH_U32 {{2}} PUSH_TASK_FIELD 1 T_SET_FIELD PUSH_U32 {{0}} T_DELETE PUSH_CALLDATA [ ] PUSH_U32 {{2}} PUSH_TASK_FIELD 2 T_SET_FIELD S_SAVE THEN END_CALL"

# self_id or next_id is needed
[destructable]
description = "task self destructs as it's status set to complete"
params = ["task_id_own"]
instructions = "PUSH_U32 {{0}} PUSH_TASK_FIELD 1 T_GET_FIELD PUSH_STATUS 2 EQ IF PUSH_U32 {{0}} T_DELETE S_SAVE THEN END_CALL"

# need push TRUE/FALSE  
[hide]
description = "Hide task until another task's status is complete"
params = ["task_id"]
instructions = "PUSH_U32 {{0}} PUSH_TASK_FIELD 1 T_GET_FIELD PUSH_STATUS 2 NEQ IF DROP PUSH_U32 0 PUSH_U32 1 EQ THEN END_CALL"


# monitor - if task amount > q - appear allert task - too many on table
# 

# requires additional opcodes  

# timestamp / now
# stallable - delete if not complete due date
# hide until date
#

